body {
	 background-image: url(https://t4.ftcdn.net/jpg/04/39/13/37/240_F_439133763_FrLdhZsd5aGC23r9ATARuKJBr8ifZjIe.jpg);
	 background-repeat: no-repeat;
	  background-size: cover;
}
.container {
	margin: auto;
	width: 60%;
	text-align: center;
}
h1 {
	font-size: 36px;
	margin-bottom: 30px;
    color: #f32207;
}
.quiz {
	border: 4px solid white;
	border-radius: 20px;
	padding: 20px;
	margin-bottom: 50px;
	text-align: left;
}
.question {
	display: none;
}
.question.active {
	display: block;
}
.question h2 {
	font-size: 24px;
	margin-bottom: 10px;
    color: hotpink;
}
.question p {
	margin-bottom: 20px;
	color: white;
}
label {
	display: block;
	margin-bottom: 10px;
	color: white ;
}
.submit-btn {
	margin-top: 20px;
	padding: 10px 20px;
	background-color: #3071a9;
	color: #fff;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}
.submit-btn:hover {
	background-color: #3071a9;
}
.results {
	display: none;
	margin-top: 50px;
}
.results h2 {
	font-size: 24px;
	margin-bottom: 20px;
	color: white;
}

.results p {
	 color: white;
}